/* Teacher, this is to import a font from Google. */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* Some basic CSS reset styles, teacher. */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Teacher, this is for the body's radar background thingamajig idk */
body {
  background: radial-gradient(circle at 50%, #2c2c2c, #191919);
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Teacher, these styles are for the navigation bar using the Flexbox CSS layout System. */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: -150px;
}

.navbar-item {
  display: inline;
  font-weight: bold;
  margin-right: 50px;
}

/* This is to remove the bullet points of all unorderd lists, teacher. */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* This is for the part with my picture and like my name and my yeah yes. */

.intro {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

/* This is for my profile, teacher. */
.profile-container {
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.me-image {
  border-radius: 30%;
}

h1 {
  font-size: 50px;
}

/* This is to make all paragraphs and list items font color white, teacher. */
p,
li {
  color: #fff;
}

.profile-container p {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

/* This is for the animated gradient border teacher, also I found it on google lol sorry i'm not that talented yet.... */
.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  background: #1d1f20;
  margin-bottom: 20px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

/* This is for the gradient looking ahh text, teacher. */
.gradient-text {
  background: linear-gradient(
    to right,
    rgb(59, 130, 246),
    rgb(236, 72, 153),
    rgb(59, 130, 246)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* This is the animation for the gradient border, teacher. Once again, I don't know how to animate in CSS yet so I got this off of google lol. */
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* This is to make the horizontal rule dotted, and yes I got this off of google. */
hr {
  border: dotted rgb(255, 255, 255) 6px;
  border-bottom: none;
  width: 10%;
  margin: 30px auto;
}

/* These are the classes for layouts, teacher. Using Flexbox CSS Layout System. */
.grid {
  display: flex;
  justify-content: space-around;
}

/* This is for the cards you see in the intro section, teacher. */
.card {
  background-color: rgba(23, 23, 23, 0.82);
  border-radius: 5%;
  box-shadow: 5px 0px 40px 0px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 20px;
  padding-bottom: 30px;
  width: 450px;
}

.card-text {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  line-height: 1.5;
}

.orange-text {
  font-weight: bold;
  color: #f37055;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.projects-row {
  display: flex;
  justify-content: space-around;
}

/* This is for the second row you see in my projects section which is centered, teacher. */
.project-row-center {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}


.project-card {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.project-image {
  border-radius: 10% 10% 0 0;
  width: 100%;
}

/* This is for the container holding all the information of my project, teacher. */
.project-info {
  background-color: rgb(23, 23, 23);
  border-radius: 0 0 10% 10%;
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* This is for the p tag found in my project card, teacher. */
.project-desc {
  font-size: 14px;
  line-height: 1.5;
}

/* This is for "View Website" and "View GitHub" hyperlinks, teacher. */
.project-links {
  margin-top: 22px;
}

/* This the contact container, teacher. */
#cta {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.cta-container {
  background-color: rgb(23, 23, 23);
  padding: 30px 60px 80px 60px;
  text-align: center;
}

.cta-text {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.button {
  background: linear-gradient(60deg, #f79533, #ef4e7b, #5073b8, #07b39b);
  border-radius: 20px;
  padding: 20px 100px;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
  margin-right: 6px;
}

footer {
  text-align: center;
}
